{% if collection.description.size > 0 %}
  <h1>{{ collection.title }}</h1>
  {% if collection.all_products_count != 0 %}
    <h2 class="single">{{ collection.description }}</h2>
  {% else %}
    <h2>{{ collection.description }}</h2>
  {% endif %}
{% else %}
  <h1 class="single">{{ collection.title }}</h1>
{% endif %}
{% if collection.all_products_count == 0 %}
  <p>There are no products in this collection.</p>
{% else %}
  {% include 'filtertags' %}
{% endif %}
