bin/
doc/
etc/
include/
lib/
mingw/
postinstall/
sbin/
share/

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must ends with two \r.
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

config.yml
cacert.pem
devkitvars.bat
devkitvars.ps1
dk.rb
m.ico
msys.bat
msys.ico
unins000.dat
unins000.exe
win_fetch_cacerts.rb