        <section class="gallery">
            <div class="gallery__inner">

                <div class="gallery__slide--lonelypanel">
                    <div class="desk--table__contain">
                        <div class="desk--table__inner">
                            <div class="collectioncover__text">
                                <h2 class="single">404 - Page not found
                                <br><small><a href="/">Back to Homepage</a></small></h2>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section>